._2IMZ{
    width:56px;
    height:18px;
    border:1px solid #979797;
    display:inline-block;
    position:relative;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    margin-right:10px;
    cursor:pointer
}
._2IMZ.IlqM{
    background:#c1c1c1;
    border:1px solid #c1c1c1;
    pointer-events:none
}
._2IMZ.IlqM span{
    background:#fff;
    border:1px solid #c1c1c1
}
._2IMZ._39aI,._2IMZ._39aI span,._2IMZ.pXg8{
    border:1px solid #ff8eb5
}
._2IMZ.pXg8{
    background:#ff8eb5;
    pointer-events:none
}
._2IMZ.pXg8 span{
    background:#fff;
    border:1px solid #ff8eb5
}
._2IMZ._1LG_{
    background:#20bf7a;
    border:1px solid #20bf7a
}
._2IMZ._1LG_ span{
    background:#fff;
    border:1px solid #20bf7a
}

.container_2 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.seat-row {
    margin:8px 0;
}




._2IMZ span{
    position:absolute;
    top:2px;
    bottom:2px;
    width:4px;
    right:2px;
    border:1px solid #979797;
    border-radius:2px
}
._3AF7{
    margin-bottom:5px
}
._2gS_{
    position:relative;
    width:18px;
    height:23px;
    border:1px solid #979797;
    display:inline-block;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    margin-right:10px;
    cursor:pointer
}
._2gS_ ._1Zjt{
    position:absolute;
    border:1px solid #979797
}
._2gS_ ._2CpW{
    top:-4px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom:none!important
}
._2gS_ ._2CpW,._2gS_ .U6x5{
    width:16px;
    height:3px;
    right:-1px
}
._2gS_ .U6x5{
    bottom:-4px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top:none!important
}
._2gS_ ._19QY{
    width: 3px;
    height: 16px;
    right: -4px;
    top: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left: none!important;
}
._2gS_.IlqM{
    background:#c1c1c1;
    border:1px solid #c1c1c1;
    pointer-events:none
}
._2gS_.IlqM span{
    background:#fff;
    border:1px solid #979797
}
._2gS_._39aI,._2gS_._39aI span,._2gS_.pXg8{
    border:1px solid #ff8eb5
}
._2gS_.pXg8{
    background:#ff8eb5;
    pointer-events:none
}
._2gS_.pXg8 span{
    background:#fff;
    border:1px solid #ff8eb5
}
._2gS_._1LG_{
    background:#20bf7a;
    border:1px solid #20bf7a
}
._2gS_._1LG_ span{
    background:#fff;
    border:1px solid #20bf7a
}

._2gS_.booked{
    background:#BDBDBD;
    border:1px solid #BDBDBD
}
._2gS_.booked span{
    background:#fff;
    border:1px solid #BDBDBD
}


._2gS_.ladies{
    background:#F735D0;
    border:1px solid #F735D0
}
._2gS_.ladies span{
    background:#fff;
    border:1px solid #F735D0
}


._2gS_.selet-seat{
    background:#20bf7a;
    border:1px solid #20bf7a
}
._2gS_.selet-seat span{
    background:#fff;
    border:1px solid #20bf7a
}

._1Yrk{
    border:1px solid #fff;
    visibility:hidden;
    pointer-events:none
}
._2gnE{
    vertical-align:super;
    font-size:12px;
    color:#494949;
    margin-left:10px
}
._3tP5{
    width:23px;
    height:56px
}
._3tP5 ._2IMZ{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
    -webkit-transform-origin:20% 50%;
    transform-origin:20% 50%
}
@media screen and (min-device-width:1024px) and (max-device-width:1150px){
    ._2IMZ{
        width:40px
    }
    ._2gS_{
        width:15px;
        height:12px
    }
    ._2gS_ ._2CpW,._2gS_ .U6x5{
        width:10px
    }
    ._2gS_ ._19QY{
        height:8px;
        top:1px
    }
}
@media screen and (min-device-width:1150px) and (max-device-width:1300px){
    ._2IMZ{
        width:46px
    }
    ._2gS_{
        width:18px;
        height:15px
    }
    ._2gS_ ._2CpW,._2gS_ .U6x5{
        width:12px
    }
    ._2gS_ ._19QY{
        height:9px;
        top:1px
    }
}
@media screen and (min-device-width:1300px) and (max-device-width:1400px){
    ._2IMZ{
        width:52px
    }
    ._2gS_{
        width:21px
    }
    ._2gS_ ._2CpW,._2gS_ .U6x5{
        width:14px
    }
}
